In [1]:
import pandas as pd
import numpy as np
import json
data = pd.read_csv("output_data.csv")

In [2]:
data = data.rename(columns={'0': 'Transcript_ID', '1': 'Position',"2":"Base_seq","3":"Sample_reads"})

In [13]:
data_info = pd.read_csv("data.info")

In [14]:
# Mean and std
def feature_engin1(rows):
    sample_reads = json.loads(rows["Sample_reads"])
    output = {"Mean":[],"Standard_deviation":[]}
    matrix = np.array(sample_reads)
    column_means = np.mean(matrix, axis=0)
    column_std = np.std(matrix,axis=0)
    output = [list(column_means),list(column_std)]
    return output

In [15]:
a = [[1,2],[2,3]]
matrix = np.array(a)
list(np.mean(matrix,axis=0))

[1.5, 2.5]

In [16]:
data["Compiled_reads"] = data.apply(feature_engin1,axis=1)
#json.loads(data.iloc[0]["Sample_reads"])

In [18]:
data.head()

,Transcript_ID,Position,Base_seq,Sample_reads,Compiled_reads
0,ENST00000000233,244,AAGACCA,"[[0.00299, 2.06, 125.0, 0.0177, 10.4, 122.0, 0...","[[0.008264378378378385, 4.223783783783786, 123..."
1,ENST00000000233,261,CAAACTG,"[[0.0126, 1.95, 111.0, 0.0125, 1.27, 108.0, 0....","[[0.006609244186046515, 3.2164244186046504, 10..."
2,ENST00000000233,316,GAAACAG,"[[0.00432, 2.02, 104.0, 0.00299, 3.56, 99.3, 0...","[[0.0075699999999999995, 2.94054054054054, 105..."
3,ENST00000000233,332,AGAACAT,"[[0.0134, 4.71, 132.0, 0.00447, 4.24, 98.8, 0....","[[0.010620250000000005, 6.4763499999999965, 12..."
4,ENST00000000233,368,AGGACAA,"[[0.015, 6.97, 118.0, 0.0106, 3.04, 123.0, 0.0...","[[0.010700505050505058, 6.415050505050505, 117..."

In [21]:
data_info.head()
data_info = data_info.rename(columns={'transcript_id': 'Transcript_ID'})

In [28]:
merged_right = pd.merge(data_info, data, on='Transcript_ID', how='right')
gene_ids = merged_right[merged_right["label"]==1].gene_id